<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>
<form method="post" action="/account/login/">
<table border=1>
    <tr><td>name:</td><td><input type="text" name="name" /></td></tr>
    <tr><td>password:</td><td><input type="password" name="password" /></td></tr>
</table>
<input type="submit" value="Save"/>
</form>
</body>
</html>
