<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="http://v3.bootcss.com/favicon.ico">
        <title>Sign in</title>
        <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">
        <script src="http://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>
    </head>
    <body>
        <div class="container">
            <form class="form-signin" method="post" action="/account/login/">
                <h2 class="form-signin-heading">Please sign in</h2>
                {{#if error}}
                    <div id="alert1" class="alert alert-warning fade in">User name or password incorrect</div>
                {{/if}} 
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Login name" name="name"  required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
