<!DOCTYPE html>
<html>
<head>
<title>Iron Handlebars!</title>
<link rel="stylesheet" type="text/css" href="/static/app.css">
</head>
<body>
<h1>Iron Handlebars!</h1>
<ul>
{{#each users}}
<li class="{{#if @first}}champion{{/if}}">
{{@index}}. <b>{{name}}</b>: {{points}}
</li>
{{/each}}
</ul>
<script type="text/javascript" src="/static/app.js"></script>
</body>
</html>
